version: 2
jobs:
  build:
    docker:
      - image: hashicorp/terraform:0.11.11
    environment:
    steps:
      - checkout
      - run:
          name: Check formatting
          command: |
            terraform fmt -check=true -diff=true -list=true
            terraform validate -check-variables=false
  plan:
    docker:
      - image: hashicorp/terraform:0.11.11
    environment:
    steps:
      - checkout
      - run:
          name: Plan Terraform
          command: |
            sh install.sh
            cd example
            terraform init
            terraform plan -var-file=vars.example.tfvars example/

workflows:
  version: 2
  build_plan_deploy:
    jobs:
      - build
      - plan:
          requires:
            - build
          filters:
            branches:
              ignore: master
