version: 2
jobs:
  build:
    docker:
      - image: hashicorp/terraform:0.11.11
    environment:
    steps:
      - checkout
      - run:
          name: Check formatting
          command: |
            terraform fmt -check=true -diff=true -list=true
            terraform validate -check-variables=false
  plan:
    docker:
      - image: hashicorp/terraform:0.11.11
    environment:
    steps:
      - checkout
      - run:
          name: Plan Terraform
          working_directory: example
          command: |
            sh ../install.sh
            terraform init
            terraform plan -out=terraform.out
      - persist_to_workspace:
          root: example
          paths:
           - terraform.out
  deploy:
    docker:
      - image: hashicorp/terraform:0.11.11
    environment:
    steps:
      - checkout
      - run:
          name: Run Terraform
          working_directory: example
          command: |
            sh ../install.sh
            terraform init
            terraform apply ../tmp/example/terraform.out
      - attach_workspace:
          at: /tmp/example

workflows:
  version: 2
  build_plan_deploy:
    jobs:
      - build
      - plan:
          requires:
            - build
          filters:
            branches:
              ignore: master
      - deploy:
          requires:
            - plan
          filters:
            branches:
              ignore: master
