config:
  specifiedInValues: true
  value: {}
labels:
  prometheus-operated: 'true'
externalLabels:
  datacenter: ${cluster_name}
externalUrl: ''
selfServiceMonitor: false
image:
  repository: quay.io/prometheus/prometheus
  tag: v2.2.1
paused: false
global:
  rbacEnable: false
  pspEnable: false
serviceAccount:
  create: true
replicaCount: 1
logLevel: info
podAntiAffinity: soft
remoteRead: {}
remoteWrite: {}
retention: 24h
routePrefix: /
rules:
  specifiedInValues: false
  additionalLabels: {}
  value: {}
serviceMonitors:
  - name: traefik-ingress
    labels:
      prometheus: prometheus
    selector:
      matchLabels:
        app: traefik
        createdby: terraform
    targetLabels:
      - datacenter
    namespaceSelector:
      matchNames:
      - kube-system
    endpoints:
      - port: metrics
    interval: 15s
  - name: metrics
    labels:
      prometheus: prometheus
    selector:
      matchLabels:
        monitoring: prometheus
    namespaceSelector:
      any: true
    endpoints:
      - targetPort: 80
        path: /metrics
service:
  sessionAffinity: None
  annotations: {}
  labels: {}
  loadBalancerSourceRanges: []
  type: ClusterIP
grafana:
  rbac:
    create: false